/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Montserrat&family=Poppins:wght@300;400;500;600;700&display=swap');

/* Variables */
:root {
  --main-color: #e02f6b;
  --blue: #0000ff;
  --blue-dark: #18293c;
  --orange: #ffa500;
  --green-yellow: #cddc39;
  --pink-light: #efa2b4;
  --cyan-light: #aef1ee;
  --white: #fff;
  --white-alpha-40: rgba(255, 255, 255, 0.4);
  --white-alpha-25: rgba(255, 255, 255, 0.25);
  --backdrop-filter-blur: blur(5px);
}

/* Global Settings */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

::before,
::after {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-image: linear-gradient(
    to bottom right,
    var(--pink-light),
    var(--cyan-light)
  );
  background-attachment: fixed;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-size: 1rem;
  color: var(--blue-dark);
  line-height: 1.5;
  overflow-x: hidden;
  -webkit-tap-highlight-color: transparent;
  padding: 2rem 1rem;
}

body.hide-scrolling {
  overflow-y: hidden;
}

body::before {
  content: '';
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: var(--green-yellow);
  z-index: -1;
  opacity: 0.1;
}

a {
  text-decoration: none;
}

h1,
h2 {
  font-weight: 600;
}
h3,
h4,
h5,
h6 {
  font-weight: 500;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

ul {
  list-style: none;
}

section {
  background-color: var(--white-alpha-25);
  border: 1px solid var(--white-alpha-40);
  min-height: calc(100vh - 4.5rem);
  border-radius: 2rem;
  backdrop-filter: var(--backdrop-filter-blur);
  display: none;
}

section.active {
  display: block;
  animation: fadeIn 0.5s ease-in-out forwards;
}

section.fade-out {
  animation: fadeOut 0.5s ease-in-out forwards;
}

.main {
  max-width: 75rem;
  margin: auto;
  transition: all 0.5s ease-in-out;
  position: relative;
}

.main.fade-out {
  opacity: 0;
}

.location {
  color: var(--main-color);
  margin: 1rem;
}

.container {
  padding: 0 3rem;
  width: 100%;
}

.align-items-center {
  align-items: center;
}

.flex-end {
  justify-content: flex-end;
}

.hidden {
  display: none !important;
}

.sec-padding {
  padding: 5rem 0;
}

/* Section Title */
.section-title {
  padding: 0 1rem;
  width: 100%;
  text-align: center;
  margin-bottom: 2.5rem;
}

.section-title h2 {
  font-size: 3rem;
  text-transform: capitalize;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background-color: var(--white);
}

::-webkit-scrollbar-thumb {
  background-color: var(--main-color);
}

/* Buttons */
button {
  font-family: inherit;
  user-select: none;
}

.btn {
  line-height: 1.5;
  background-color: var(--white-alpha-25);
  border: 1px solid var(--white-alpha-40);
  padding: 1rem 2rem;
  display: inline-block;
  border-radius: 2rem;
  color: var(--main-color);
  font-weight: 500;
  text-transform: capitalize;
  font-family: inherit;
  font-size: 1rem;
  cursor: pointer;
  user-select: none;
  position: relative;
  overflow: hidden;
  vertical-align: middle;
}

.btn::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0%;
  background-color: var(--main-color);
  z-index: -1;
  transition: width 0.3s ease;
}

.btn:hover::before {
  width: 100%;
}
.btn:hover {
  color: var(--white);
}

/* frames */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes zoomInOut {
  0%,
  100% {
    transform: scale(0.5);
  }
  50% {
    transform: scale(1);
  }
}

@keyframes bounceTop {
  0%,
  100% {
    transform: translateY(-50px);
  }
  50% {
    transform: translateY(0px);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.bg-circles {
  position: fixed;
  top: 0;
  height: 100%;
  max-width: 1200px;
  width: calc(100% - 32px);
  left: 50%;
  transform: translateX(-50%);
}

.bg-circles div {
  position: absolute;
  border-radius: 50%;
}

.bg-circles .circle-1 {
  width: 64px;
  height: 64px;
  background-color: var(--blue);
  left: 5%;
  top: 10%;
  opacity: 0.3;
  animation: zoomInOut 8s linear infinite;
}

.bg-circles .circle-2 {
  width: 80px;
  height: 80px;
  background-color: var(--main-color);
  left: 40%;
  top: 50%;
  opacity: 0.4;
  animation: bounceTop 5s ease-in-out infinite;
}

.bg-circles .circle-3 {
  width: 120px;
  height: 120px;
  background-color: var(--white);
  top: 40%;
  right: -60px;
  opacity: 0.6;
}

.bg-circles .circle-4 {
  width: 50px;
  height: 50px;
  background-color: var(--orange);
  top: 80%;
  left: -30px;
  opacity: 0.6;
}

/* Overlay */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 200;
  opacity: 0.5;
  visibility: hidden;
  background-color: transparent;
}

.overlay.active {
  visibility: visible;
}

/* Page Loader */
.page-loader {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 999;
  background-color: var(--white-alpha-25);
  backdrop-filter: var(--backdrop-filter-blur);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.6s ease;
}

.page-loader.fade-out {
  opacity: 0;
}

.page-loader div {
  border: 2px solid transparent;
  position: absolute;
  border-radius: 50%;
  opacity: 0.6;
  border-top-color: transparent !important;
  border-bottom-color: transparent !important;
  animation: spin 1s linear infinite;
}

.page-loader div:nth-child(1) {
  width: 64px;
  height: 64px;
  border-color: var(--main-color);
}

.page-loader div:nth-child(2) {
  width: 48px;
  height: 48px;
  border-color: var(--blue);
  animation-duration: 1.2s;
}

.page-loader div:nth-child(3) {
  width: 32px;
  height: 32px;
  border-color: var(--orange);
}
/* Header */
.header {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 1;
  padding: 24px 0 0;
}

.header.active {
  position: fixed;
  top: 32px;
  padding: 24px 16px;
}

.header.active .container {
  max-width: 1200px;
  margin: auto;
}

.header .nav-toggler {
  width: 50px;
  height: 50px;
  border: none;
  cursor: pointer;
  border-radius: 50%;
  background-color: var(--white-alpha-25);
  border: 1px solid var(--white-alpha-40);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 16px;
  z-index: 1;
  transition: opacity 0.5s ease;
}

.header .nav-toggler.hide {
  opacity: 0;
  transition: none;
}

.header .nav-toggler span {
  height: 2px;
  width: 24px;
  background-color: var(--main-color);
  position: relative;
  transition: background-color 0.3 ease;
}

.header.active .nav-toggler span {
  background-color: transparent;
}

.header .nav-toggler span::before,
.header .nav-toggler span::after {
  content: '';
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--main-color);
  transition: all 0.3s ease;
}

.header .nav-toggler span::before {
  left: 0;
  transform: translateY(-8px);
}

.header.active .nav-toggler span::before {
  transform: rotate(45deg);
}

.header.active .nav-toggler span::after {
  transform: rotate(-45deg);
}

.header .nav-toggler span::after {
  right: 0;
  transform: translateY(8px);
}

.header:not(.active) .nav-toggler:hover span::before,
.header:not(.active) .nav-toggler:hover span::after {
  width: 50%;
}

.header .nav {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 32px 16px;
  overflow-y: auto;
  visibility: hidden;
}

.header.active .nav {
  visibility: visible;
}

.header .nav-inner {
  min-height: calc(100vh - 70px);
  max-width: 1200px;
  margin: auto;
  background-color: var(--white-alpha-25);
  border: 1px solid var(--white-alpha-40);
  border-radius: 2rem;
  padding: 48px 0px;
  /* padding: 48px 16px; */
  backdrop-filter: var(--backdrop-filter-blur);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: all 0.5s ease;
}

.header.active .nav-inner {
  opacity: 1;
}

.header .nav-inner ul li {
  text-align: center;
}

.header .nav-inner ul li a {
  font-size: 48px;
  text-transform: capitalize;
  color: var(--blue-dark);
  display: block;
  font-weight: 500;
  padding: 1rem 2rem;
  transition: color 0.3s ease;
  position: relative;
}
.header .nav-inner ul li a::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0%;
  height: 100%;
  background-color: var(--white-alpha-25);
  z-index: -1;
  transition: width 0.5s ease;
}

.header .nav-inner ul li a:hover::before {
  width: 100%;
}

.header .nav-inner ul li a:hover {
  color: var(--main-color);
}

/* Home Section */
.home-section {
  padding: 7.5rem 0;
}

.home-section.active {
  display: block;
}

.home-text,
.home-img {
  width: 50%;
  padding: 1rem;
}

.home-text p {
  font-size: 1rem;
}
.home-text h1 {
  font-size: 3rem;
  text-transform: capitalize;
}
.home-text h2 {
  font-size: 2rem;
  text-transform: capitalize;
  font-weight: 300;
  margin: 0 0 2rem;
}

.home-text .btn {
  margin: 0 1rem;
}

.img-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.home-img .img-box {
  max-width: 22.5rem;
  background-color: var(--white-alpha-25);
  border-radius: 50%;
  border: 8px solid var(--white-alpha-25);
  margin: auto;
  padding: 1rem;
}

.home-img .img-box img {
  width: 100%;
  border-radius: 50%;
}

/* About Section */
.about-img {
  width: 40%;
  padding: 0 0.5rem;
}

.about-text {
  /* background-color: blue; */
  width: 60%;
  padding: 0 1rem;
}

.about-img .img-box {
  background-color: var(--white-alpha-25);
  max-width: 24rem;
  border: 1px solid var(--white-alpha-40);
  margin: auto;
  border-radius: 2rem;
}

.about-img .img-box img {
  width: 100%;
}

.about-text h3 {
  text-transform: capitalize;
  font-size: 1.5rem;
  margin: 1.5rem 0;
}

.about-text .skills {
  display: flex;
  flex-wrap: wrap;
}

.about-text .skill-item {
  background-color: var(--white-alpha-25);
  border: 1px solid var(--white-alpha-40);
  padding: 0.5rem 1rem;
  text-transform: capitalize;
  margin: 0 1rem 1rem 0rem;
  border-radius: 2rem;
}

.about-tabs .tab-item {
  padding: 2px 0;
  background-color: transparent;
  border: none;
  text-transform: capitalize;
  display: inline-block;
  color: var(--blue-dark);
  font-size: 1.5rem;
  cursor: pointer;
  font-weight: 500;
  margin: 0 2rem 0 0;
  position: relative;
  opacity: 0.5;
  transition: all 0.3 ease;
}

.about-tabs .tab-item:last-child {
  margin: 0;
}

.about-tabs .tab-item:before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0%;
  height: 1px;
  background-color: var(--blue-dark);
  transition: width 0.3s ease;
}

.about-tabs .tab-item:hover::before {
  width: 100%;
}

.about-tabs .tab-item.active::before {
  width: 100%;
  background-color: var(--main-color);
}
.about-tabs .tab-item.active {
  color: var(--main-color);
  opacity: 1;
  cursor: auto;
}

.about-text .timeline {
  position: relative;
}

.about-text .timeline::before {
  content: '';
  position: absolute;
  height: 100%;
  width: 1px;
  background-color: var(--main-color);
  top: 0;
  left: 5px;
}

.about-text .tab-content {
  padding: 2.5rem 0;
  display: none;
}
.about-text .tab-content.active {
  display: block;
}

.about-text .timeline-item {
  position: relative;
  padding: 0.625rem 0 0 2.5rem;
  margin-bottom: 2rem;
}

.about-text .timeline-item::before {
  content: '';
  position: absolute;
  width: 11px;
  height: 11px;
  background-color: var(--main-color);
  top: 1rem;
  left: 0;
  border-radius: 50%;
}

.about-text .timeline-item:last-child {
  margin-bottom: 0;
}

.about-text .timeline-item .date {
  display: block;
  color: var(--main-color);
  font-weight: 400;
  margin: 0 0 1rem;
}
.about-text .timeline-item h4 {
  font-size: 1.125rem;
  text-transform: capitalize;
  margin: 0 0 0.5rem;
}
.about-text .timeline-item h4 span {
  font-weight: 400;
}

.about-text .btn {
  margin: 0 1rem 1rem 0;
}

/* Portfolio Section */
.portfolio-section {
  padding-bottom: 3.125rem;
}

.portfolio-item {
  width: calc((100% / 2) - 2rem);
  margin: 0 1rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.portfolio-item h3 {
  font-size: 1.5rem;
  text-transform: capitalize;
  margin: 20px 0;
}

.portfolio-item-thumbnail {
  padding: 10px;
  background-color: var(--white-alpha-25);
  border: 1px solid var(--white-alpha-40);
  border-radius: 2rem;
}

.portfolio-item-thumbnail img {
  width: 100%;
  border-radius: 2rem;
}

.portfolio-item-details {
  display: none;
}

/* Portfolio Popup */
.portfolio-popup {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 200;
  /* opacity: 0.5; */
  overflow-y: auto;
  visibility: hidden;
}

.portfolio-popup.open {
  visibility: visible;
  overflow-y: auto;
}

.pp-inner {
  min-height: 100vh;
  padding: 40px 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pp-content {
  background-color: var(--white-alpha-25);
  padding: 30px;
  border-radius: 2rem;
  max-width: 900px;
  width: 100%;
  border: 1px solid var(--white-alpha-40);
  backdrop-filter: var(--backdrop-filter-blur);
  opacity: 0;
  transform: scale(0.9);
}

.portfolio-popup.open .pp-content {
  opacity: 1;
  transform: scale(1);
  transition: all 0.5s ease;
}

.pp-header {
  position: relative;
}

.pp-header .btn {
  height: 40px;
  width: 40px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: -40px;
  top: -40px;
}

.pp-thumbnail img {
  border-radius: 2rem;
}

.pp-header h3 {
  font-size: 1.5rem;
  text-transform: capitalize;
  margin: 20px 0 15px;
}

.pp-body .description {
  margin-bottom: 1.5rem;
}

.pp-body .general-info {
  margin-bottom: 1.125rem;
  font-weight: 500;
  text-transform: capitalize;
}

.pp-body .general-info li span {
  font-weight: 300;
}

.pp-body .general-info li a {
  text-transform: lowercase;
  color: var(--main-color);
}

.pp-close {
  background-color: white;
  opacity: 0.99;
}

.pp-close::before {
  content: '';
  transition: width 0.3s ease;
}

.btn:hover::before {
  width: 100%;
}
.btn:hover {
  color: var(--white);
}
*/

/* Contact Section */

.contact-form {
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact-form,
.contact-info {
  padding: 0 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-form .input-group {
  width: 100%;
  margin-bottom: 2rem;
}

.contact-form .input-control::placeholder {
  color: var(--blue-dark);
  opacity: 0.8;
  font-weight: 300;
}

.contact-form .input-control {
  display: block;
  width: 100%;
  height: 50px;
  border: 1px solid transparent;
  border-radius: 2rem;
  font-family: inherit;
  font-weight: 400;
  font-size: 1rem;
  background-color: var(--white-alpha-25);
  padding: 0 1rem;
  color: var(--blue-dark);
  transition: border-color 0.3s ease;
}

.contact-form .input-control:focus {
  border-color: var(--white-alpha-40);
}

.contact-form textarea.input-control {
  height: 120px;
  resize: none;
  padding-top: 1rem;
}

.contact-info-item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.75rem 1rem;
  padding: 0 0 0 1.25rem;
  gap: 1rem;
}

.contact-info-item h3 {
  font-size: 1.25rem;
  text-transform: capitalize;
  margin: 1rem;
}

.submit-btn {
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
}

.contact-info-item .social-links a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background-color: var(--white-alpha-25);
  color: var(--main-color);
  border: 1px solid var(--white-alpha-40);
  border-radius: 50%;
  transition: all 0.3s ease;
}
.contact-info-item .social-links a:hover {
  color: var(--white);
  background-color: var(--main-color);
}

.mt-2 {
  margin-top: 1rem;
  font-size: 2rem;
  font-weight: 300;
}

/* Responsive */
@media (max-width: 991px) {
  .container {
    padding: 0;
  }

  .home-text {
    text-align: center;
  }

  .home-img {
    order: -1;
  }

  .home-img .img-box {
    max-width: 300px;
  }

  .home-text,
  .home-img {
    width: 100%;
  }

  .home-text .btn {
    margin: 0 8px 16px;
  }

  .portfolio-item {
    width: calc(50% - 32px);
  }
}

@media (max-width: 767px) {
  .contact-form,
  .contact-info,
  .about-img,
  .about-text {
    width: 100%;
  }

  .contact-info {
    order: -1;
  }

  .input-group {
    padding: 0 24px;
  }

  .about-text {
    margin-top: 32px;
  }

  .portfolio-item {
    width: calc(100% - 32px);
    align-self: center;
    text-align: center;
  }

  .pp-inner {
    padding: 32px 16px;
  }
}

@media (max-width: 575px) {
  .section-title h2,
  .header .nav-inner ul li a {
    font-size: 32px;
  }
  .home-text h1 {
    font-size: 32px;
  }

  .home-text h2 {
    font-size: 16px;
  }

  .pp-header h3 {
    font-size: 24px;
  }
}
